* { box-sizing: border-box; }

html, body { height: 100%; margin: 0; }

html { font-size: 62.5%; }

body {
    background: tomato;
    font-family: 'Lato', arial, sans-serif;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 300;
    color: white;
    overflow-y: scroll;
}

h1 {
    margin: -0.8em 0 0 0;
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: margin 0.5s;
}

h1:hover {
    margin: -0.3em 0 0 0;
}

h2 {
    margin: 0 0 0.5em;
    font-weight: 300;
    opacity: 0.5;
}

.container {
    width: 66.6667%;
    height: 100%;
    height: calc(100% - 6em);
    float: left;
}

.chat-container {
    width: 90%;
    max-width: 60em;
    height: 50%;
    margin: 0 auto 1em;
    padding: 0;
    background: white;
    color: #444;
    overflow-y: scroll;
}

.chat-container strong {
    margin-right: 1em;
    text-transform: capitalize;
    opacity: 0.2;
    transition: opacity 0.25s;
}

.chat-container:hover strong {
    opacity: 0.6;
}

.chat-container div {
    position: relative;
    padding: 0.5em 5em 0.5em 2em;
    white-space: pre-wrap;
}

.chat-container div:nth-child(odd) {
    background: #fafafa;
}

.chat-container time {
    position: absolute;
    right: 2em;
    opacity: 0.3;
    color: tomato;
    transition: opacity 0.25s;
}

.chat-container:hover time {
    opacity: 1;
}

.controls {
    width: 90%;
    max-width: 60em;
    margin: 0 auto;
    padding-bottom: 2em;
}

label {
    display: inline-block;
    width: 80px;
}

input[type='text'] {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid white;
    background: tomato;
    font-size: 1em;
    color: white;
    outline: none;
}

input[type='button'] {

    margin: 0.5em 0;
    padding: 0.5em 2em;
    border: none;
    background: white;
    font-size: 1em;
    color: tomato;
    outline: none;
}

.users-container {
    position: relative;
    width: 33.3333%;
    height: 100%;
    padding: 2em;
    background: rgba(0, 0, 0, 0.3);
    float: right;
}

.users-container i {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.users {
    line-height: 1;
}

.users > div {
    margin-bottom: 1em;
}

.users small {
    font-size: 0.6em;
    line-height: 1;
    opacity: 0.5;
}

@media all and (max-width: 1000px) {

    body { font-size: 1.75em; }
    h1 {
        font-size: 4em;
        margin: 0;
    }

    h1:hover {
        margin: 0;
    }
}

@media all and (max-width: 800px) {
    .container {
        width: calc(100% - 2em);
        float: none;
    }

    .users-container {
        position: absolute;
        top: 0;
        left: calc(100% - 2em);
        width: 15em;
        height: 100%;
        background: rgba(0, 0, 0, 0.85);
        transition: all 0.25s;
    }

    .users-container:hover {
        -webkit-transform: translateX(calc(-100% + 2em));
    }
}

@media all and (max-width: 360px) {
    h1 {
        font-size: 1.5em;
    }
}